<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th style="text-align:center">Active?</th>
    <th style="text-align:center">User Groups?</th>
    <th style="text-align:center">User %</th>
    <th style="text-align:center">Date Range</th>
    <th width="20%">Name</th>
    <th width="30%">Description</th>
    <th>Updated At(UTC)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% group.features.each do |feature| %>
    <tr class="bandiera-feature">
      <td class="feature-toggle" data-group="<%= group[:name] %>" data-feature="<%= feature.name %>" data-description="<%= feature.description %>" data-active="<%= feature.active? %>"><%= feature.active? %></td>
      <td style="text-align:center">
        <% if feature.user_groups_configured? %>
          <span class="fa fa-check"></span>
        <% end %>
      </td>
      <td style="text-align:center">
        <% if feature.percentage %>
          <span class="fa fa-check" title="<%= feature.percentage %> %"></span>
        <% end %>
      </td>
      <td style="text-align:center">
        <% if feature.start_time && feature.end_time %>
          <span class="fa fa-check" title="<%= feature.start_time.utc.strftime('%F %T') %> to <%= feature.end_time.utc.strftime('%F %T') %>"></span>
        <% end %>
      </td>
      <td><%= feature.name %></td>
      <td><%= feature.description %></td>
      <td><%= (d = (feature.updated_at || feature.created_at)) && ((d && d.utc.strftime('%F %T')) || "N/A") %></td>
      <td style="text-align:right">
        <a class="btn btn-warning btn-sm bandiera-edit-feature" href="/groups/<%= group[:name] %>/features/<%= feature.name %>/edit"><i class="fa fa-edit" title="edit"></i></a>
        <a class="btn btn-danger btn-sm bandiera-delete-feature" href="/groups/<%= group[:name] %>/features/<%= feature.name %>/delete" data-method="delete"><i class="fa fa-trash-o" title="delete"></i></a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>