<% @feature ||= Bandiera::Feature.new("","","",false) %>

<form role="form" action="<%= action %>" method="post">
  <div class="form-group">
    <label for="feature[group]">Group</label>
    <select class="form-control" id="feature_group" name="feature[group]">
      <option></option>
      <% @groups.each do |group| %>
        <option value="<%= group %>"<%= " selected" if @feature.group == group %>><%= group %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="feature[name]">Name</label>
    <input type="text" class="form-control" id="feature_name" name="feature[name]" value="<%= @feature.name %>" />
  </div>

  <div class="form-group">
    <label for="feature[description]">Description</label>
    <input type="text" class="form-control" id="feature_description" name="feature[description]" value="<%= @feature.description %>" />
  </div>

  <div class="form-group">
    <label for="feature[enabled]">Enabled?</label>
    <div class="radio">
      <label>
        <input type="radio" name="feature[enabled]" id="feature_enabled_true" value="true" <%= "checked " if @feature.enabled? %>/>
        enabled
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="feature[enabled]" id="feature_enabled_false" value="false" <%= "checked " unless @feature.enabled? %> />
        disabled
      </label>
    </div>
  </div>

  <input type="hidden" name="feature[previous_group]" value="<%= @feature.group %>" />
  <input type="hidden" name="feature[previous_name]" value="<%= @feature.name %>" />

  <button type="submit" class="btn btn-primary">Create</button>
</form>
