<%
  @feature ||= Bandiera::Feature.new(
    name:         '',
    group:        defined?(group) ? group : nil,
    description:  '',
    active:       false,
    user_groups:  { list: [], regex: '' }
  )
%>

<form role="form" action="<%= action %>" method="post">
  <div class="form-group">
    <label for="feature[group]">Group</label>
    <% if @feature.group %>
      <input type="text" class="form-control" id="feature_group" name="feature[group]" value="<%= @feature.group.name %>" readonly/>
    <% else %>
      <select class="form-control" id="feature_group" name="feature[group]">
        <option></option>
        <% @groups.each do |group| %>
          <option value="<%= group.name %>"<% if @feature.group == group %> selected<% end %>><%= group.name %></option>
        <% end %>
      </select>
    <% end %>
  </div>

  <div class="form-group">
    <label for="feature[name]">Name</label>
    <input type="text" class="form-control" id="feature_name" name="feature[name]" value="<%= @feature.name %>" <% if method == :update %>readonly<% end %>/>
  </div>

  <div class="form-group">
    <label for="feature[description]">Description</label>
    <input type="text" class="form-control" id="feature_description" name="feature[description]" value="<%= @feature.description %>" />
  </div>

  <div class="form-group">
    <label for="feature[active]">Active?</label>
    <div class="radio">
      <label>
        <input type="radio" name="feature[active]" id="feature_active_true" value="true"<% if @feature.active? %> checked<% end %>/>
        on
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="feature[active]" id="feature_active_false" value="false"<% unless @feature.active? %> checked<% end %>/>
        off
      </label>
    </div>
  </div>

  <hr />

  <div class="well">
    <h4>Percentage of users</h4>
    <p>Use this option to have the feature enabled for a percentage of users.</p>
    <p>Please note that the feature must also be active before it's enabled for any users. Inactive features will be disabled for everyone, regardless of the settings in this section.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="feature[percentage]">Percentage</label>
          <select class="form-control" id="feature_percentage" name="feature[percentage]">
            <option></option>
            <% (5..100).step(5).each do |perc| %>
              <option value="<%= perc %>"<% if @feature.percentage == perc %> selected<% end %>><%= perc %>%</option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <h4>User Groups</h4>
    <p>Use these options to have the feature enabled for only a select number of users.</p>
    <p>Note that these options will only be considered if the feature is active. Inactive features will not be enabled for any user, regardless of the settings in this section.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="feature[user_groups][list]">Exact Match List</label>
          <textarea class="form-control" id="feature_user_groups_list" name="feature[user_groups][list]"><%= @feature.user_groups_list.join("\n") %></textarea>
          <p class="help-block">Enter one user group per-line - these must be the <strong>exact</strong> user group strings you intend to pass through (case-sensitive).</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="feature[user_groups][regex]">Regular Expression</label>
          <input type="text" class="form-control" id="feature_user_groups_regex" name="feature[user_groups][regex]" value="<%= @feature.user_groups_regex %>" />
          <p class="help-block">Enter a Ruby based regular expression - i.e. <code>.*_admin</code> will match anything that ends in <code>_admin</code>.  Please see <a href="http://rubular.com/">http://rubular.com/</a> for more information on Ruby regular expressions.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <h4>Date Range</h4>
    <p>Use this option to have the feature enabled during a certain time range.</p>
    <p>Please note that the feature must also be active before it's enabled for any users. Inactive features will be disabled for everyone, regardless of the settings in this section.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="feature[start_time]">Start Time</label>
          <div class="input-group date" id="datetimepicker-start">
            <input type='text' class="form-control" id="feature_start_time" name="feature[start_time]" value="<%= @feature.start_time %>" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <p class="help-block">Enter a date/time combination in the format <code>YYYY-MM-DD HH:MM:SS</code>. For example 12:32pm on July 8th 2017 would be something like <code>2017-07-08 12:32:00</code>. <strong>Note: the machine's configured time zone is used</strong>.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="feature[end_time]">End Time</label>
          <div class='input-group date' id='datetimepicker-end'>
            <input type='text' class="form-control" id="feature_end_time" name="feature[end_time]" value="<%= @feature.end_time %>" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <p class="help-block">Enter a date/time combination in the format <code>YYYY-MM-DD HH:MM:SS</code>. For example 12:32pm on July 8th 2017 would be something like <code>2017-07-08 12:32:00</code>. <strong>Note: the machine's configured time zone is used</strong>.</p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <input type="hidden" name="feature[previous_group]" value="<%= @feature.group ? @feature.group.name : nil %>" />
  <input type="hidden" name="feature[previous_name]" value="<%= @feature.name %>" />
  <input type="hidden" name="back_to_group" value="<%= defined?(back_to_group) && back_to_group == true %>" />

  <button type="submit" class="btn btn-primary"><%= method.to_s.capitalize %></button>
</form>
