<%= erb :"docs/api/_breadcrumb", locals: { current_title: "Fetch All Features for a Group" } %>

<code>GET /v1/groups/{group_name}/features</code>
<h2>Fetch All Features for a Group</h2>

<hr />

<pre>http://<%= request.host %>/api/v1/groups/{group_name}/features</pre>

<p>This endpoint returns a list of all features for a given group within Bandiera.</p>

<%
  groups      = feature_service.get_groups
  first_group = groups.first || "pubserv"
%>

<h4>Example Request</h4>

<p>The following curl request would list all the features for the group &quot;<%= first_group %>&quot;:</p>
<pre>curl 'http://<%= request.host %>/api/v1/groups/<%= first_group %>/features'</pre>
<p>Or, try it now in your browser: <a href="http://<%= request.host %>/api/v1/groups/<%= first_group %>/features">http://<%= request.host %>/api/v1/groups/<%= first_group %>/features</a></p>

<h4>Example Response</h4>
<pre>
{
    "features": [
        {
            "description": "Show article level metrics?",
            "enabled": true,
            "group": "pubserv",
            "name": "show-article-metrics"
        },
        {
            "description": "Show the new search feature?",
            "enabled": false,
            "group": "pubserv",
            "name": "show-new-search"
        }
    ]
}
</pre>

