<%= erb :"docs/api/_breadcrumb", locals: { current_title: "Fetch All Groups" } %>

<code>GET /v1/groups</code>
<h2>Fetch All Groups</h2>

<hr />

<pre>http://<%= request.host %>/api/v1/groups</pre>

<p>
  This endpoint returns a list of all groups within Bandiera.
</p>

<h4>Example Request</h4>
<pre>curl 'http://<%= request.host %>/api/v1/groups'</pre>
<p>Or, try it now: <a href="http://<%= request.host %>/api/v1/groups">http://<%= request.host %>/api/v1/groups</a></p>

<h4>Example Response</h4>
<pre>
{
    "groups": [
        {
            "name": "pubserv"
        },
        {
            "name": "shunter"
        }
    ]
}
</pre>

